<div class="footer_box" id="footerBox">
    <p class="footer_animate_box left_footer_animate_box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </p>
    <p class="footer_animate_box right_footer_animate_box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </p>
<!--  <%=data.footer_name %>
  <%=data.index %>
    <ul>
        <% for(var key in data.list){%>
            <% if(data.index==key){%>
        <li class="navbar_nav active"><a href="<%=data.list[key].url%>"><%=data.list[key].name%></a></li>
            <%}%>
            <% if(data.index!=key){%>
            <li class="navbar_nav"><%=data.list[key].name%></li>
            <%}%>
        <%}%>
    </ul>-->
    <img src="${require('../../img/logofooter.png')}" alt="">
</div>
